*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
}

/*
*****  TOPO
*/

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-radius: 12px;
    background: #ECF8E0;
}

.logo-header {
    color: #8A4B08;
}

.nome-header {
    margin: 0px 10px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    color: #8A4B08;
    font-family: Dancing Script;
}

/*
*****  NAVEGAÇÃO
*/

.botao-menu{
    display: none;
}

.nav-h-desktop ul {
    display: flex;
}

.nav-h-desktop {
    align-self: center;
    margin-right: 1em;
}

.nav-h-desktop ul li {
    list-style-type: none;
    font-size: 1.2em;
    border-left: 1px solid #F78181;
}

.nav-h-desktop ul li a {
    color: #8A4B08;
    padding: 5px;
    text-decoration: none;
}

/*
*****  CORPO
*/

.corpo-linaDoces {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    border: 5px outset #CEF6D8;
    border-radius: 40px;
    height: 200px;
}

.corpo-linaDoces .Lina {
    height: 200px;
    border-radius: 70px;
}

.caixa {
    margin-right: 1em;
}

.caixa ul{
    display: block;
    color: #8A4B08;
    list-style-type: none;
    font-size: 1.3em;
}

.corpo-linaDoces .sugestao label{
    display: block; 
    font-size: 2em;
    margin-bottom: 1em;
}

.corpo-linaDoces .sugestao input{
    border: outset #CEF6D8;
    height: 2.8em; 
    width: 20em;
}

.corpo-linaDoces .sugestao button{
    border: outset #CEF6D8;
    background: #fff;
    height: 3em; 
    width: 6em;
}

/*
*****  PARALLAX
*/

.parallax1 {
    background: url(../imagens/17554067_10208780696743469_5096175044698856965_n.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.parallax2 {
    background-image: url(../imagens/Chocotone-recheado.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

/*
*****  FOOTER
*/

.redes-sociais {
    padding: 2em;
}

.redes-sociais ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.redes-sociais ul li {
    list-style-type: none;
}

.botoes-redes {
    text-align: center;
}

.redes-sociais ul li h2 {
    font-size: 1.5em;
}

.redes-sociais ul li a {
    color: #000;
    text-decoration: none;
}

.redes-sociais p {
    margin-top: 2em;
    text-align: center;
}

/*
*****  TABELA
*/

table {
    border-collapse: collapse;
    width:45%;
}
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    font-size: 1.5em;
}

th{
    background: #d0d0d0;
}



@media(max-width: 850px){    
    
    /*
    *****  HEADER
    */

    .logo-header {
        color: #8A4B08;
    }
    
    .nome-header {
        margin-left: 15px;
        font-size: 2em;
    }

    /*
    *****  NAVEGAÇÃO
    */

    .nav-h-desktop {
        display: none;
    }
    
    .nav-h-mobile {
        display: none;
    }

    .botao-menu{
        display: flex;
        align-items: center;
        justify-items: center;
        position: absolute;
        height: 3.7em;
        margin-top: 0.5em;
        background: #CEF6D8;
        color: #8A4B08;
        border-radius: 30px;
        cursor: pointer;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; 
        top: 0;
        left: 0;
        background-color: #ECF8E0;
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #8A4B08;
        display: block;
        transition: 0.3s;
      }
    
      .sidenav .closebtn {
        position: absolute;
        color: #000;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
      }

    /*
    *****  CORPO
    */

    .corpo-linaDoces {
        flex-direction: column;
        margin: 1em;
        height: 27em;
    }

    .caixa ul{
        font-size: 1.4em;
    }

    .corpo-linaDoces .sugestao label{
        font-size: 1.4em;
    }
    
    /*
    *****  TABELA
    */

    table {
        width:auto;
    }

    /*
    *****  FOOTER
    */

    .botoes-redes {
        font-size: 0.7em;
    }

    .redes-sociais ul li h2 {
        font-size: 1.2em;
    }

    .redes-sociais p {
        font-size: 1.2em;
    }

}
