#corpo-tb{
    height: 15em;
}

#corpo-form{
    height: 23.5em;
}

#corpo-login{
    height: 14em;
}

#corpo-form input,
#corpo-login input,
#doce{
    border: 1px solid #000;
    border-radius: 1em;
    height: 2.5em;
    width: 25em;
    padding-left: 1em;
    display: block;
    margin-bottom: 1em;
}

#botao-formulario,
#botao-login {
    float: right;
    background: #CEF6D8;
    border: 1px solid rgb(85, 121, 94);
    border-radius: 2em;
    height: 2.5em;
    width: 10em;
}

#corpo-consulta{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.botao-consulta-ex{
    background: #F7819F;
    border: 2px solid #000;
}

.botao-consulta-ex a{
    text-decoration: none;
    color: #000;
}

#tabela-consulta td {
    padding: 1px;
    height: 3em;
    border: 1px solid #000;
}

#tabela-consulta th {
    background: #CEF6D8;
}

@media (max-width:760px){
    
    #tabela-consulta{
        font-size: 0.7em;
    }
}
@media (max-width:450px){
    #tabela-consulta{
        font-size: 0.55em;
    }
}


/*
********** MODAL
*/

.modal-container{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: #fff;
    border-radius: 2em;
    padding: 2em;
}

.fechar{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: #000;
    float: right;
    background: #F7819F;
    border: white solid 1px;
    border-radius: 3em;
    padding: 0.5em;
    margin-top: 1.5em;
}